extends layout.pug

block head
	title= "Home"

block content
	div.row
		div.col
			h1= title
			span.lead
				| Welcome to my projects page-let! Here you can find a list of all my projects, and links to their GitHub repositories.
				| If you have any questions, feel free to contact me on the Fediverse at #[a(rel="me" class="text-decoration-none" href="https://bears.town/@cosmick9") @cosmick9@bears.town]