extends layout.pug

block head
	title= "Projects"

block content
	div.row
		div.col
			ul
				li
					h3 #[a.text-white(href="https://github.com/cosmick9-org/projects") This page-let] #[sup #[i.fa-solid.fa-arrow-up-right-from-square(style="color: #ffffff; font-size: 0.5em;")]]
					p This page-let is a simple page that displays a list of projects I've worked/am working on. It's written in Pug.JS, and uses Express.JS to serve the page. It uses NodeJS to run the server.
				li
					h3 5-7-5 Weather Bot
					i Work in progress...